@import 'styles/variables.scss';
@import 'styles/media.scss';

.product-card {
  width: 95vw;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__top-block {
    display: flex;
    width: 100%;
    justify-content: center;

    @include media($small) {
      flex-direction: column;
    }
  }

  &__top-content {
    margin-left: 40px;
    display: flex;
    flex-direction: column;

    @include media($small) {
      margin-top: 40px;
      margin-left: 0;
    }
  }

  &__name {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 110%;
    color: #1C1C1C;
    margin-bottom: 25px;
  }

  &__before-after-price {
    margin-bottom: 8px;
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
  }

  &__summ {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #1C1C1C;
    margin-right: 16px;
  }

  &__full-summ {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: rgba(28, 28, 28, 0.5);
  }

  &__cashback {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    background: linear-gradient(93.73deg, #AF2EFF 3.36%, #D517AB 100.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 28px;
  }

  &__cashback-btn {
    background: linear-gradient(93.73deg, #AF2EFF 3.36%, #D517AB 100.79%);
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 408px;
    height: 60px;
    cursor: pointer;
  }

  &__bottom-block {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  &__title {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 110%;
    color: #1C1C1C;
    margin-bottom: 20px;
  }

  &__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 55px;
  }

  &__btn {
    width: 310px;
    height: 60px;
    background: linear-gradient(93.73deg, #AF2EFF 3.36%, #D517AB 100.79%);
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
  }

  &__ellipse-icon {
    position: absolute;
    z-index: -1;
    
    &_one {
      right: -100px;
      bottom: 100px;
    }

    &_two {
      left: -400px;
      bottom: 300px;
    }
  }
}