@import 'styles/variables.scss';
@import 'styles/media.scss';

.footer {
  max-width: 1920px;
  width: 100%;
  height: 326px;
  background: linear-gradient(93.73deg, #AF2EFF 3.36%, #D517AB 100.79%);
  border-radius: 60px 60px 0px 0px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &__top-block {
    display: flex;
    flex-direction: column;
    margin-left: 320px;

    @include mediaMinMax(1025, $normal) {
      margin-left: 16.667vw;
    }

    @include media($xnormal) {
      margin-left: 50px;
    }
  }

  &__logo-block {
    display: flex;
    width: 80%;
  }

  &__logo-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin-right: 50px;
  }

  &__image-block {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
  }

  &__top-content {
    margin-top: 42px;
  }

  &__top-content-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 60px;
    white-space: nowrap;
  }

  &__bottom-block {
    height: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__arrow-block {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 320px;
    top: 140px;

    @include mediaMinMax(1025, $normal) {
      right: 16.667vw;
    }

    @include media($xnormal) {
      right: 80px;
    }
  }
}