.stars-rating {
  &__stars {
    display: flex;
    align-items: center;
  }

  &__star {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  &__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    background: linear-gradient(93.73deg, #AF2EFF 3.36%, #D517AB 100.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 10px;
  }
}