@import 'styles/variables.scss';
@import 'styles/media.scss';

.banner {
  width: 95vw;
  aspect-ratio: 1280 / 500;
  background: linear-gradient(93.73deg, #AF2EFF 3.36%, #D517AB 100.79%);
  border-radius: 30px;
  display: flex;
  max-width: 1280px;
  min-height: 440px;
  margin: 0 auto;
  position: relative;

  @include media($small) {
    width: 95vw;
    aspect-ratio: 940 / 597;
  }

  @include media($xmini) {
    flex-direction: column;
    height: 650px;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-top: 90px;
    z-index: 1;

    @include media($xnormal) {
      padding-left: 30px;
    }

    @include media($small) {
      padding-left: 50px;
      padding-top: 80px;
    }

    @include media($xmini) {
      width: 100%;
      padding: 50px 20px 0 20px;
      align-items: center;
    }
  }

  &__text {
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 110%;
    color: #FFFFFF;
    white-space: pre-wrap;

    @include media($xmini) {
      font-size: 25px;
      white-space: normal;
    }
  }

  &__btn {
    background: $white-color;
    border-radius: 100px;
    width: 242px;
    height: 60px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #1C1C1C;
    margin-top: 40px;

    @include media($xmini) {
      width: 322px;
      height: 60px;
      margin-top: 30px;
    }
  }

  &__img {
    width: 457px;
    height: 457px;
    margin-left: 73px;

    @include media($xnormal) {
      margin-left: 0;
    }

    @include media($small) {
      position: absolute;
      object-fit: contain;
      right: 0;
      bottom: 0;
    }

    @include media($xmini) {
      position: static;
      object-fit: contain;
      width: 100%;
    }
  }

  &__ellipse-icon {
    position: absolute;
    
    &_one {
      right: -500px;
      bottom: -300px;
    }

    &_two {
      right: -500px;
      bottom: 200px;
    }

    &_free {
      right: 100px;
      bottom: -400px;
    }

    &_four {
      right: 1000px;
      bottom: -200px;
    }

    &_five {
      right: 1200px;
      bottom: 300px;
    }

    &_six {
      right: 1200px;
      bottom: -800px;
    }
  }
}